footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  .text{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    color: #79737b;
  }
  .nav-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    color: #79737b;
  }
  .book-now {
    background: #8453a5;
    border-radius: 5px;
    color: white;
  }
  .client-status-online{
    border-radius: 50%;
    width: 11px;
    height: 13px;
    position: absolute;
    right: 0;
    bottom: 9px;
    border: 1px solid white;
    background-color: #28c76f;
  }
  