.font-label {
  font-size: 13px;
}

.input-size {
  height: 50px;
}

.button {
 border-style: solid;
 border-color: #8453a5;
  border-radius: 25px;
  width: 220px;
//   background-color: #8453a5;
  color: black;
}
.button {
    border-style: solid;
    border-color: #8453a5;
     border-radius: 25px;
     width: 220px;
   //   background-color: #8453a5;
     color: black;
   }
.font-label {
  font-size: 13px;
}

.label-box {
  margin-left: 126px;
}

.login-input {
  height: 40px;
  width: 600px;
  margin-left: 126px;
}

.btn-login {
  width: 605px;
  background-image: linear-gradient(#491859, #9A53B1);
  margin-left: 184px;
  height: 40px;
  color: white;
}
.checkbox {
  margin-left: 200px;
}
.checkboxes {
  margin-left: 300px;
}
.btn-register{
    width: 80%;
    margin-left: 10px;
    border-color: #8453a5;
    background: linear-gradient(46.62deg, rgba(73, 24, 89, 0.77) 0%, rgba(154, 83, 177, 0.77) 93.64%);
border-radius: 5px;
    height: 50px;
    color: white;
}
.error{
  margin-left:190px;
 


}
