.main-body{
  color:#6e6b7b;
  font-family: 'Arial';
}
li {
    margin-right: 28px;
  }
  ul {
    padding-left: 0px;
    margin-bottom: 2px;
  }
  
  .menu {
    position: relative;
  }
  .menu::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #8453a5;
    width: 0%;
    content: "";
    height: 2px;
    transition: all 0.5s;
  }
  .menu:hover::after {
    width: 100%;
    background-color: #8453a5;
  }
  h3 {
    font-style: Roboto;
    padding-left: 18px;
    font-weight: bold;
  }
  .search-input {
    padding-bottom: 9px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
  }
  .profile-div {
    height: 200px;
    background: #ffffff;
    box-shadow: 0px 3.51471px 21.0882px rgba(24, 41, 47, 0.1);
    border-radius: 5.27206px;
  }
  .div-img-name-btn {
    padding-left: 68px;
  }
  .user-name {
    padding-left: 34px;
    padding-top: 40px;
  }
  button {
    width: 100px;
    padding: 2px;
  }
  ul {
    list-style: none;
  }
  .search-span {
    padding-top: 8px;
  }
  .search-input {
    border: 1px solid black;
    border-radius: 5px;
  }
  hr {
    background-color: #e9ecef;
    width: 100%;
  }
  tr {
    padding: 2px;
    border-radius: 5px;
  }
  .text.active{
    color:#8453a5;
  }
  .general {
    background-color: #F5F2F7;
    color:#5E5873;
  }
  .input{
    margin-left: 72px;
  }